*{
    margin: 0 ; /*deixa margem esquerda e direita nula*/
    padding: 0 ; /*deixe a margem superior e inferior nula*/
    box-sizing: border-box; /* cria uma caixa invisivel para o corpo do site*/

}

.topo{
    background-color: aqua; /*cor do fundo do topo do site*/
    height: 15vh; /*tamanho do topo do site 15% da tela*/
}
.conteudo{
    height: 85vh; 
}